/augmented_images
/cifar_normal.txt
/cifar_res.txt
/FINAL
/images
/model_images
/result.zip
/result_cfiar
/saliency_result
/test_images
/tiny-imagenet-200
/train
/training_results.txt
/training_results_base.csv